set_io rst 42
set_io clk 43


set_io light_M1[0] 44
set_io light_M1[1] 45
set_io light_M1[2] 46


set_io light_MT[0] 47
set_io light_MT[1] 48 
set_io light_MT[2] 2

set_io light_M2[0] 3
set_io light_M2[1] 4
set_io light_M2[2] 6

set_io light_S[0]  9
set_io light_S[1]  10
set_io light_S[2]  12
